name: Push to Organization Repo

on:
  schedule:
    - cron: '50 14 * * *'
  workflow_dispatch: # 수동 실행도 가능

jobs:
  push_to_org:
    runs-on: ubuntu-latest

    steps:
      # 1. 개인 레포 체크아웃
      - name: Checkout source
        uses: actions/checkout@v4

      # 2. git 사용자 설정
      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      # 3. 조직 레포로 push
      - name: Push to org repo
        run: |
          git remote add org https://x-access-token:${{ secrets.YOUR_PAT }}@github.com/sessac-codingstudy/hansun-cote.git
          git push org main --force
